{% extends "/public_template.html" %}

{% block main %}
<div class="container" style="padding-right: 5px; padding-left: 25px; padding-top: 200px; padding-bottom: 25px; width: 570px;">
  <div class="row">
    <div class="col" style="
    padding-bottom: 40px;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    background-color:lightgrey;">
      <h3>Upload Car image</h3>
      <form method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <div class="custom-file">
            <input type="file" class="custom-file-input" name="image" id="image">
            <label class="custom-file-label" for="image">Select image...</label>
          </div>
        </div>
        <div style="padding-left: 210px;" >
          <button type="submit" style="background-color: #0033a0;    border-color: #0033a0;" class="btn btn-primary">Process</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}